<div class="card">
        <p>Hey there! 👋 Thank you for reading this article!</p>
        <p>
            Is there something missing, or do you have an idea on how to improve the documentation?
            Do you want to write your own article?
        </p>
        <p>
            You're invited to contribute to the Codeberg Documentation at <a href="https://codeberg.org/Codeberg/Documentation">its source code repository</a>,
            for example, by <a href="/collaborating/pull-requests-and-git-flow">adding a pull request</a>
            or joining in on the discussion in <a href="https://codeberg.org/Codeberg/Documentation/issues">the issue tracker</a>.
        </p>
        <p>
            For an introduction on contributing to Codeberg Documentation, please have a look
            at <a href="https://docs.codeberg.org/improving-codeberg/docs-contributor-faq">the Contributor FAQ</a>.
        </p>
</div>
