<!DOCTYPE html>
<html lang="en" class="codeberg-design">
    <head>
        <title>{% if eleventyNavigation.title %}{{ eleventyNavigation.title }} | {% endif %}Codeberg Documentation</title>

        <meta charset="UTF-8">
        {% if description %}<meta name="description" content="{{ description }}">{% endif %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% if env.environment == "testing" %}<meta name="robots" content="noindex">{% endif %}

        <link rel="icon" href="https://design.codeberg.org/logo-kit/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="https://design.codeberg.org/logo-kit/favicon.svg" type="image/svg+xml"/>
        <link rel="apple-touch-icon" href="https://design.codeberg.org/logo-kit/apple-touch-icon.png"/>

        <link rel="preload" type="text/css" href="/assets/css/codeberg-docs.css" as="style">
        <link rel="preload" type="text/css" href="https://design.codeberg.org/design-kit/codeberg.css" as="style">
        <link rel="preload" href="https://fonts.codeberg.org/dist/inter/Inter%20Web/inter.css" as="style">
        <link rel="preload" href="https://fonts.codeberg.org/dist/fontawesome6/css/svg-with-js.css" as="style">
        
        <!-- Details and License: https://codeberg.org/Codeberg/Design/src/design-kit -->
        <link rel="stylesheet" href="https://design.codeberg.org/design-kit/codeberg.css"/>
        <script defer src="https://design.codeberg.org/design-kit/codeberg.js"></script>

        <link rel="stylesheet" type="text/css" href="/assets/css/codeberg-docs.css">
        <!-- Syntax highlighting -->
        <link rel="stylesheet" type="text/css" href="/assets/css/prism-nord.css">

        <!-- Details and License: https://fonts.codeberg.org/fonts/inter -->
        <link rel="stylesheet" type="text/css" href="https://fonts.codeberg.org/dist/inter/Inter%20Web/inter.css">

        <!-- Details and License: https://fonts.codeberg.org/fonts/fontawesome5 -->
        <link rel="stylesheet" type="text/css" href="https://fonts.codeberg.org/dist/fontawesome6/css/svg-with-js.css">


        {% if page.url != '/' %}
        <script>
            // @license magnet:?xt=urn:btih:90dc5c0be029de84e523b9b3922520e79e0e6f08&dn=cc0.txt CC0
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementsByClassName("active")[0].scrollIntoView({block: "center"})
            });
            // @license-end
        </script>
        {% endif %}
    </head>

    <body data-set-preferred-mode-onload="true">
        {% include 'license.njk' %}
        <div class="page-wrapper with-sidebar with-navbar with-transitions" data-sidebar-type="overlayed-sm-and-down">
            <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
            <nav class="navbar">
                <div class="navbar-content">
                    <button class="btn btn-primary" type="button" onclick="halfmoon.toggleSidebar()">
                        {% fas_icon "bars" %}
                        <span class="sr-only">Toggle sidebar</span>
                    </button>
                </div>
                <!-- Navbar brand -->
                <a href="/" class="navbar-brand" title="Codeberg Docs">
                    <img src="https://design.codeberg.org/logo-kit/icon_inverted.svg" height="22" width="22" alt="Codeberg"> Docs
                </a>
                <!-- Navbar nav -->
                <ul class="navbar-nav ml-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a href="{{ urls.commitHistoryMaster }}/{{ page.inputPath }}" class="nav-link" target="_blank" rel="noreferrer">
                            {% fas_icon "history" %} &nbsp; View History
                    </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ urls.docsSourcesMaster }}/{{ page.inputPath }}" class="nav-link" target="_blank" rel="noreferrer">
                            {% fas_icon "code" %} &nbsp; View Source
                    </a>
                    </li>
                    {# <li class="nav-item">
                        <a href="javascript:;" onclick="document.body.classList.toggle('dark-mode')" class="nav-link">
                            {% fas_icon "moon" %} &nbsp; Toggle Dark Mode
                    </a>
                    </li> #}
                </ul>
                <!-- Navbar content (dropdown menu) -->
                <div class="navbar-content d-md-none ml-auto">
                    <div class="dropdown with-arrow">
                        <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                            Menu {% fas_icon "angle-down" %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                            <a href="{{ urls.commitHistoryMaster }}/{{ page.inputPath }}" class="dropdown-item" target="_blank" rel="noreferrer">
                                {% fas_icon "history" %} &nbsp; View History
                            </a>
                            <a href="{{ urls.docsSourcesMaster }}/{{ page.inputPath }}" class="dropdown-item" target="_blank" rel="noreferrer">
                                {% fas_icon "code" %} &nbsp; View Source
                            </a>
                            {# <a href="javascript:;" onclick="document.body.classList.toggle('dark-mode')" class="dropdown-item">
                                {% fas_icon "moon" %} &nbsp; Toggle Dark Mode
                            </a> #}
                            <div class="dropdown-divider mt-5"></div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="sidebar">
                <div class="sidebar-menu">
                {# <!-- Sidebar content with the search box -->
                <div class="sidebar-content">
                <input type="text" class="form-control" placeholder="Filter Docs" id="search-input">
                <div class="mt-10 font-size-12">
                    Press <kbd>/</kbd> to focus
                </div>
                </div> #}

                {% for entry in collections.all | eleventyNavigation %}
                    {% set active = entry.url == page.url or entry.key == eleventyNavigation.parent %}
                    {% if (not entry.draft) or active %}
                        <h5 class="sidebar-title {% if active %} active{% endif %}">
                            <a href="{{ entry.url }}" id="{{ entry.key }}">{% fas_icon entry.icon | default("caret-right") %} {{ entry.title }}</a>
                        </h5>
                        <div class="sidebar-divider"></div>
                        {% if entry.children.length > 0 %}
                            {% for child in entry.children %}
                                {% set child_active = child.url == page.url %}
                                {% if child_active or not child.draft %}
                                    <a href="{{ child.url }}" class="sidebar-link{% if child_active %} active{% endif %}" id="{{ child.key }}">
                                        <span class="name">{{ child.title }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <br>
                {%- endfor %}

                </div>
            </div>

            <div class="content-wrapper">
                <div class="container-lg">
                    <div class="content">
                        {% if eleventyNavigation.title %}
                            <h1 class="content-title font-size-24">{{ eleventyNavigation.title }}</h1>
                        {% endif %}
                        {% if eleventyNavigation.draft %}
                            <strong>Please note that this article is still a draft and might not have any contents yet.</strong>
                        {% endif %}
                        {{ content | safe }}
                        <hr class="mb-20">
                        {% if page.url != '/' %}
                            {% include 'contribution_invitation.njk' %}
                        {% endif %}
                        <div class="font-size-16 text-right">
                            <p>&copy; Codeberg Docs Contributors. See <a href="#modal-1" role="button">LICENSE</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
